# Fouille données

In [2]:
!pip install pandas numpy matplotlib seaborn folium scikit-learn

Requirement already satisfied: pandas in c:\users\jerom\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: numpy in c:\users\jerom\anaconda3\lib\site-packages (1.26.0)
Requirement already satisfied: matplotlib in c:\users\jerom\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: seaborn in c:\users\jerom\anaconda3\lib\site-packages (0.13.2)
Collecting folium
  Downloading folium-0.20.0-py2.py3-none-any.whl (113 kB)
     -------------------------------------- 113.4/113.4 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn in c:\users\jerom\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jerom\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jerom\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jerom\anaconda3\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jerom\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\jerom\anaconda3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jerom\anaconda3\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\jerom\anaconda3\lib\site-packages (from matplotlib) (6.5.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jerom\anaconda3\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\jerom\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jerom\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jerom\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Collecting branca>=0.6.0
  Downloading branca-0.8.2-py3-none-any.whl (26 kB)
Collecting xyzservices
  Downloading xyzservices-2025.11.0-py3-none-any.whl (93 kB)
     ---------------------------------------- 93.9/93.9 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: requests in c:\users\jerom\anaconda3\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\jerom\anaconda3\lib\site-packages (from folium) (2.11.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\jerom\anaconda3\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\jerom\anaconda3\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\jerom\anaconda3\lib\site-packages (from scikit-learn) (1.12.0)
Collecting jinja2>=2.9
  Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
     -------------------------------------- 134.9/134.9 kB 7.8 MB/s eta 0:00:00
Requirement already satisfied: zipp>=3.1.0 in c:\users\jerom\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jerom\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\jerom\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jerom\anaconda3\lib\site-packages (from requests->folium) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jerom\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jerom\anaconda3\lib\site-packages (from requests->folium) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jerom\anaconda3\lib\site-packages (from requests->folium) (1.26.11)
Installing collected packages: xyzservices, jinja2, branca, folium
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
Successfully installed branca-0.8.2 folium-0.20.0 jinja2-3.1.6 xyzservices-2025.11.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
anaconda-project 0.11.1 requires ruamel-yaml, which is not installed.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.preprocessing import StandardScaler
from collections import Counter

%matplotlib inline
sns.set(style="whitegrid")

In [5]:
# Chargement du fichier
# on_bad_lines='skip' permet de sauter les lignes mal formées sans planter
# On enlève engine='python' car le moteur par défaut (C) est souvent plus tolérant

df = pd.read_csv('flickr_data2.csv', on_bad_lines='skip')

print("Données brutes :")
display(df.head())

Données brutes :

C:\Users\jerom\AppData\Local\Temp\ipykernel_25956\831863605.py:5: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('flickr_data2.csv', on_bad_lines='skip')

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,4395181099,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11.0,15,28,2,2010,23,20,28.0,2,2010.0,NaN,NaN,NaN
1,4394748717,35853470@N00,45.753270,4.862953,NaN,NaN,51.0,17,28,2,2010,52,17,28.0,2,2010.0,NaN,NaN,NaN
2,4394694699,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17,28,2,2010,33,17,28.0,2,2010.0,NaN,NaN,NaN
3,4394803790,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN
4,4394803554,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20,28,1,2010,38,12,28.0,2,2010.0,NaN,NaN,NaN

In [6]:
print("Colonnes du DataFrame :")
print(df.columns.tolist())
print("\nInfo du DataFrame :")
df.info()

Colonnes du DataFrame :
['id', ' user', ' lat', ' long', ' tags', ' title', ' date_taken_minute', ' date_taken_hour', ' date_taken_day', ' date_taken_month', ' date_taken_year', ' date_upload_minute', ' date_upload_hour', ' date_upload_day', ' date_upload_month', ' date_upload_year', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18']

Info du DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420240 entries, 0 to 420239
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   420240 non-null  int64
 1    user                420240 non-null  object
 2    lat                 420240 non-null  float64
 3    long                420240 non-null  float64
 4    tags                316730 non-null  object
 5    title               381911 non-null  object
 6    date_taken_minute   420239 non-null  float64
 7    date_taken_hour     420240 non-null  int64
 8    date_taken_day      420240 non-null  int64
 9    date_taken_month    420240 non-null  int64
 10   date_taken_year     420240 non-null  int64
 11   date_upload_minute  420228 non-null  object
 12   date_upload_hour    420238 non-null  object
 13   date_upload_day     420238 non-null  float64
 14   date_upload_month   420240 non-null  int64
 15   date_upload_year    420239 non-null  float64
 16  Unnamed: 16          142 non-null     float64
 17  Unnamed: 17          0 non-null       float64
 18  Unnamed: 18          2 non-null       float64
dtypes: float64(8), int64(6), object(5)
memory usage: 60.9+ MB

In [ ]:
# Histogramme de la colonne année (date_taken_year)
plt.figure(figsize=(10, 6))
sns.histplot(df[' date_taken_year'], bins=20, kde=True)
plt.title('Histogramme des années de prise des photos')
plt.xlabel('Année')
plt.ylabel('Nombre de photos')
plt.show()